html {
  background: darkslategrey;
  color: ivory;
}

body {
  padding-bottom: 5rem;
}

main {
  margin: 2rem;
}

h1, h2, h3 {
  margin: 1rem auto .25rem 2rem;
}

hr {
  margin: .5rem 1rem;
  border: 1px inset cornsilk;
}

table tr, table td * {
  vertical-align: top;
}

table td {
  padding-right: 1rem;
}

.fit {
  width: max-content;
  height: fit-content;
}
.bor {
  border: 1px solid cornsilk;
  padding: .5rem;
  margin: .5rem;
}
.struck {
  text-decoration: line-through;
}
.left {
  margin-left: 1rem;
}

