@import "/_asset/type/OptimaNovaLTProRegular.otf";
@import "/_asset/type/OptimaNovaLTProMedium.otf";

hr {
  flex-grow: 1;
  height: .5px;
  border: none;
  background-color: black;
  margin: 0 0 .3rem;
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
}
.recipe-body hr:last-child {
  margin-bottom: .15rem;
}

div {
  display: flex;
}

.fc {
  display: flex;
  flex-direction: column;
}

.fr {
  display: flex;
  flex-direction: row;
}

.fg1 {
  flex-grow: 1;
}

.w100 {
  width: 100%;
}

/* ========== TOP-LEVEL ===================================================== */
.flex-root * {
  /* border: 1px solid red; */
  font-family: "Optima Nova LT Pro", sans-serif;
}
#output {
  flex-direction: column;
  align-items: center;
}
.flex-root {
  width: 100%;
}

/* ========== 2nd LEVEL ===================================================== */
.recipe-header {
  margin-top: 1rem;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 600;
}
.recipe-body {
  font-size: .7rem;
  line-height: 1.2;
  align-self: center;
}
.col-labels {
  align-items: stretch;
  font-size: .8rem;
  font-weight: 600;
}

/* ========== 3rd LEVEL ===================================================== */
.recipe-title {
  font-size: 1.1rem;
  text-transform: uppercase;
}
.yield {
  font-size: .75rem;
}
.header-ing {
  width: 17.5%;
}
.header-qua {
  width: 11%;
}
.header-sca {
  width: 9.5%
}
.header-art {
  width: 62%;
}
.recipe-source {
  font-size: .7rem;
}

/* ========== 4th LEVEL ===================================================== */
.ingredients {
  width: 38%;
}
.procedures {
  width: 62%;
}

/* ========== 5th LEVEL ===================================================== */
.ingredient {
  margin-bottom: .2rem;
}
.ingredient:last-of-type {
  margin-bottom: .1rem;
}
.procedure {
  margin-bottom: .2rem;
  line-height: .95rem;
}

/* ========== 6th LEVEL ===================================================== */
.ing-name {
  width: 46%;
  font-weight: 600;
}
.quantity {
  width: 29%;
}
.scaling {
  width: 25%;
}

/* ========== 7th LEVEL ===================================================== */
.step-number {
  width: 3.5%;
}
.step-text {
  width: 96.5%;
}
